{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block title %}Inscription{% endblock %}
{% block body %}
{% include "@FOSUser/Profile/show_content.html.twig" %}
<a href="{{ path('fos_user_profile_edit') }}">Editer</a>
{% endblock %}
